name: AirPrint Server
version: "1.0"
slug: airprint
description: An AirPrint Server
url: >-
  https://github.com/rsperry79/homeassistant-airprint

# System Settings
arch:
  - amd64
  - aarch64
boot: auto
startup: system
usb: true
init: false
host_dbus: false
host_network: true
ports:
  631/tcp: 631
  631/udp: 631
  5353/udp: 5353
map:
  - type: ssl
    read_only: true
    path: /ssl
  - type: addon_config
    read_only: false
    path: /config
  - type: share
    read_only: false
    path: /share

# HA API
hassio_role: default
hassio_api: true
homeassistant_api: true

# Sidebar
panel_icon: mdi:printer
ingress: true
ingress_port: 631
# ingress_stream: true
#webui: http://[HOST]:[PORT:631]/

# Health
watchdog: http://[HOST]:[PORT:631]/printers

# Options
options:
  system_settings:
    use_ipv6: false
  avahi:
    avahi_debug: true
    avahi_reflector: false
    avahi_reflect_ipv: false
  cups_settings:
    cups_remote_admin: false
  cups_logging:
    cups_log_level: debug
    cups_access_log_level: all
  cups_ssl:
    cups_ssl_cert: /ssl/fullchain.pem
    cups_ssl_key: /ssl/privkey.pem
    cups_self_sign: false
  logins:
    - username: print
      password: "print"
      user_level: superuser
schema:
  system_settings:
    use_ipv6: bool
    packages:
      - str?
    interfaces: str?
  avahi:
    avahi_debug: bool
    avahi_reflector: bool
    avahi_reflect_ipv: bool
  cups_settings:
    cups_remote_admin: bool
  cups_logging:
    cups_log_level: list(debug|info|notice|error|none)
    cups_access_log_level: list(all|access|config)
  cups_ssl:
    cups_self_sign: bool
    cups_ssl_cert: str?
    cups_ssl_key: str?
  logins:
    - username: str
      password: str
      user_level: list(standard|admin|superuser)
