name: AirPrint Server
version: "1.0"
slug: airprint
description: An AirPrint Server
url: >-
  https://github.com/rsperry79/homeassistant-airprint

# System Settings
arch:
  - amd64
  - aarch64
boot: auto
startup: system
usb: true
init: false
host_network: true
ports:
  631/tcp: 631
  631/udp: 631
  # 5150/tcp: 5150
  5353/udp: 5353
map:
  - type: addon_config
    read_only: false
    path: /config
  - type: share
    read_only: false
    path: /share

  - type: homeassistant_config
    read_only: true
    path: /homeassistant
  - type: ssl
    read_only: true
    path: /ssl

# Backup settings
backup_exclude:
  - "/config/apt-cache"
  - "**/*.log"

# HA API
hassio_role: default
hassio_api: true
homeassistant_api: true

# Sidebar
panel_icon: mdi:printer
ingress: true
ingress_port: 5150

ingress_stream: true

#webui: http://[HOST]:[PORT:631]/

# Health
watchdog: http://[HOST]:[PORT:631]/printers

# Options
options:
  avahi:
    avahi_debug: false
    avahi_reflector: false
    avahi_reflect_ipv: false
    use_ipv6: false
  cups_logging:
    cups_fatal_errors: permissions
    cups_log_to_file: true
    cups_log_level: info
    cups_access_log_to_file: true
    cups_access_log_level: all
  cups_ssl:
    cups_encryption: Never
    # cups_ssl_cert: /ssl/fullchain.pem
    # cups_ssl_key: /ssl/privkey.pem
    cups_self_sign: true
  nginx:
    nginx_log_level: warn
    nginx_log_to_file: true
    nginx_access_log_to_file: true
  logins:
    - username: print
      password: "print"
      user_level: superuser
  custom_packages:
    run_script: true
    packages:
      - "printer-driver-all"
      - "foomatic-db"
      - "foomatic-filters"
      - "foomatic-filters-beh"
    install_recommends: true
    package_debug: false

schema:
  custom_packages:
    run_script: bool
    install_recommends: bool
    packages:
      - str?
    package_debug: bool
  avahi:
    avahi_debug: bool
    avahi_reflector: bool
    avahi_reflect_ipv: bool
    use_ipv6: bool
  cups_logging:
    cups_fatal_errors: list(none|all|browse|config|listen|log|permissions)
    cups_log_to_file: bool
    cups_log_level: list(debug|info|notice|error|none)
    cups_access_log_to_file: bool
    cups_access_log_level: list(all|actions|config)
  cups_ssl:
    cups_encryption: list(IfRequested|Required|Never)
    cups_self_sign: bool?
    cups_ssl_cert: str?
    cups_ssl_key: str?
  nginx:
    nginx_log_to_file: bool
    nginx_access_log_to_file: bool
    nginx_log_level: list(warn|error|crit|alert|emerg)
  logins:
    - username: str
      password: str
      user_level: list(standard|admin|superuser)
